In [294]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

year = '1976'  # Update the year accordingly

# URL of the website
url = f'https://rsssfbrasil.com/tablessz/sp{year}.htm'

# Make a request to the website
response = requests.get(url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Parse the HTML content
    soup = BeautifulSoup(response.content, 'html.parser')

    # Initialize an empty list to store individual match results
    match_results = []

    # Find all font tags with size='2' and face='Courier New'
    for match_tag in soup.find_all('body'):
        match_text = match_tag.get_text()

        # Split the text into lines
        match_lines = match_text.split('\n')

        # Iterate through lines
        for line in match_lines:
            # Try to extract date from the line
            if '/' in line:
                date = line.strip()
                match_results.append({'Date': date, 'MatchInfo': None})
            else:
                # If date is available, append the match details
                if match_results:
                    match_results[-1]['MatchInfo'] = line.strip()

    # Create a DataFrame from the list of match results
    df = pd.DataFrame(match_results)

    # Save DataFrame to CSV
    df.to_csv('match_results.csv', index=False)
    print("DataFrame saved to 'match_results.csv'")
else:
    print(f"Error: {response.status_code}")

DataFrame saved to 'match_results.csv'

In [295]:
df

                                             Date    MatchInfo
0                        22/02/1976 América 2 x 0  Ferroviária
1              22/02/1976 Juventus 1 x 0 Botafogo         None
2             22/02/1976 São Paulo 2 x 0 Noroeste         None
3       22/02/1976 Comercial (RP) 1 x 0 São Bento         None
4            22/02/1976 Marília 0 x 4 Corinthians         None
..                                            ...          ...
214        22/08/1976 Palmeiras 2 x 1 Corinthians         None
215          22/08/1976 Ferroviária 1 x 0 América         None
216  22/08/1976 Portuguesa 1 x 1 XV de Piracicaba         None
217          22/08/1976 Guarani 0 x 0 Ponte Preta         None
218   28/08/1976 XV de Piracicaba 1 x 0 São Bento

[219 rows x 2 columns]

In [297]:
unique_values = df['Date'].unique()
unique_values_sorted = sorted(unique_values)
print(unique_values_sorted)

['01/08/1976 América 0 x 0 São Paulo', '01/08/1976 Noroeste 2 x 0 Corinthians', '01/08/1976 Palmeiras 0 x 0 Portuguesa', '01/08/1976 Ponte Preta 0 x 1 Botafogo', '01/08/1976 São Bento 3 x 1 Ferroviária', '01/08/1976 XV de Piracicaba 1 x 0 Guarani', '02/05/1976 América 2 x 0 Santos', '02/05/1976 Guarani 1 x 0 Corinthians', '02/05/1976 Marília 1 x 1 Paulista (JUN)', '02/05/1976 Portuguesa 2 x 0 Noroeste', '02/05/1976 São Bento 2 x 0 Botafogo', '02/05/1976 São Paulo 1 x 0 Port. Santista', '02/05/1976 XV de Piracicaba 1 x 1 Palmeiras', '03/07/1976 Santos 0 x 0 Ferroviária', '04/04/1976 Botafogo 0 x 2 São Paulo', '04/04/1976 Corinthians 4 x 1 Juventus', '04/04/1976 Ferroviária 1 x 1 Comercial (RP)', '04/04/1976 Guarani 2 x 0 Portuguesa', '04/04/1976 Noroeste 0 x 0 São Bento', '04/04/1976 Palmeiras 1 x 1 Santos', '04/04/1976 Paulista (JUN) 1 x 0 Ponte Preta', '04/04/1976 Port. Santista 1 x 1 XV de Piracicaba', '04/07/1976 América 3 x 1 Botafogo', '04/07/1976 Corinthians 3 x 1 XV de Piracicaba', '04/07/1976 Guarani 3 x 0 São Bento', '04/07/1976 Marília 0 x 3 Juventus', '04/07/1976 Palmeiras 1 x 0 São Paulo', '04/07/1976 Paulista (JUN) 0 x 1 Comercial (RP)', '04/07/1976 Port. Santista 0 x 2 Noroeste', '04/07/1976 Portuguesa 1 x 0 Ponte Preta', '04/08/1976 Palmeiras 1 x 0 Noroeste', '04/08/1976 Ponte Preta 2 x 0 XV de Piracicaba', '04/08/1976 São Bento 2 x 0 Portuguesa', '05/08/1976 Corinthians 0 x 3 Botafogo', '06/03/1976 Palmeiras 3 x 1 Ferroviária', '07/03/1976 América 0 x 0 Noroeste', '07/03/1976 Botafogo 1 x 0 Comercial (RP)', '07/03/1976 Corinthians 3 x 2 São Paulo', '07/03/1976 Marília 0 x 1 Port. Santista', '07/03/1976 Paulista (JUN) 1 x 1 Juventus', '07/03/1976 Ponte Preta 2 x 1 Guarani', '07/03/1976 Santos 0 x 1 São Bento', '07/03/1976 XV de Piracicaba 1 x 1 Portuguesa', '07/08/1976 Portuguesa 1 x 0 Ferroviária', '08/04/1976 Port. Santista 1 x 0 Comercial (RP)', '08/05/1976 São Paulo 1 x 1 XV de Piracicaba', '08/08/1976 Botafogo 0 x 0 América', '08/08/1976 Corinthians 1 x 0 São Paulo', '08/08/1976 Guarani 2 x 2 Palmeiras', '08/08/1976 Noroeste 1 x 2 Ponte Preta', '09/05/1976 América 2 x 0 São Bento', '09/05/1976 Botafogo 2 x 0 Ferroviária', '09/05/1976 Palmeiras 2 x 2 Guarani', '09/05/1976 Ponte Preta 1 x 0 Juventus', '09/05/1976 Portuguesa 2 x 2 Paulista (JUN)', '09/05/1976 Santos 3 x 0 Marília', '10/04/1976 Portuguesa 4 x 2 América', '11/03/1976 Ponte Preta 3 x 0 Palmeiras', '11/04/1976 Botafogo 0 x 0 Marília', '11/04/1976 Comercial (RP) 1 x 3 Guarani', '11/04/1976 Corinthians 0 x 2 Noroeste', '11/04/1976 Palmeiras 1 x 0 São Bento', '11/04/1976 Ponte Preta 2 x 1 Ferroviária', '11/04/1976 Port. Santista 0 x 0 Paulista (JUN)', '11/04/1976 XV de Piracicaba 2 x 0 Juventus', '11/07/1976 Corinthians 1 x 0', '11/07/1976 Ferroviária 0 x 0 Ponte Preta', '11/07/1976 Guarani 1 x 1 Noroeste', '11/07/1976 Palmeiras 3 x 2 América', '11/07/1976 São Paulo 2 x 2 Portuguesa', '11/07/1976 XV de Piracicaba 3 x 2 Botafogo', '11/08/1976 Botafogo 1 x 2 Noroeste', '11/08/1976 Ferroviária 0 x 1 São Paulo', '11/08/1976 Ponte Preta 0 x 1 São Bento', '11/08/1976 Portuguesa 2 x 2 Guarani', '12/06/1976 Juventus 1 x 3 Guarani', '13/03/1976 Botafogo 2 x 0 Paulista (JUN)', '13/03/1976 Juventus 0 x 0 América', '13/06/1976 Botafogo 10 x 0 Port. Santista', '13/06/1976 Corinthians 0 x 0 Santos', '13/06/1976 Ferroviária 2 x 0 São Bento', '13/06/1976 Marília 1 x 1 Comercial (RP)', '13/06/1976 Palmeiras 1 x 0 Portuguesa', '13/06/1976 Paulista (JUN) 1 x 0 XV de Piracicaba', '13/06/1976 Ponte Preta 0 x 0 Noroeste', '13/06/1976 São Paulo 0 x 1 América', '14/03/1976 Ferroviária 0 x 0 Corinthians', '14/03/1976 Guarani 1 x 1 XV de Piracicaba', '14/03/1976 Marília 0 x 2 São Paulo', '14/03/1976 Noroeste 0 x 0 Palmeiras', '14/03/1976 Santos 2 x 0 Portuguesa', '14/03/1976 São Bento 0 x 1 Ponte Preta', '14/07/1976 Ferroviária 1 x 2 Palmeiras', '14/07/1976 Noroeste 0 x 2 América', '14/07/1976 São Bento 0 x 0 Guarani', '14/07/1976 São Paulo 1 x 1 Botafogo', '14/07/1976 XV de Piracicaba 0 x 0 Corinthians', '14/08/1976 Corinthians 0 x 1 Guarani', '15/08/1976 Ferroviária 1 x 2 Botafogo', '15/08/1976 Palmeiras 1 x 0 São Paulo', '15/08/1976 Ponte Preta 3 x 0 Portuguesa', '15/08/1976 São Bento 0 x 0 América', '15/08/1976 XV de Piracicaba 1 x 0 Noroeste', '16/05/1976 América 1 x 0 Marília', '16/05/1976 Comercial (RP) 2 x 1 Noroeste', '16/05/1976 Juventus 1 x 1 São Paulo', '16/05/1976 Palmeiras 4 x 0 Botafogo', '16/05/1976 Paulista (JUN) 0 x 0 Ferroviária', '16/05/1976 Ponte Preta 0 x 1 Santos', '16/05/1976 Port. Santista 2 x 6 Portuguesa', '16/05/1976 São Bento 1 x 0 Corinthians', '17/04/1976 Botafogo 0 x 0 Corinthians', '17/04/1976 Ferroviária 2 x 1 Noroeste', '17/04/1976 Guarani 2 x 1 Marília', '17/04/1976 São Bento 0 x 4 Portuguesa', '17/04/1976 XV de Piracicaba 2 x 0 Santos', '17/06/1976 Noroeste 1 x 0 Juventus', '17/06/1976 XV de Piracicaba 1 x 1 América', '18/04/1976 América 2 x 0 Paulista (JUN)', '18/04/1976 Palmeiras 1 x 0 Juventus', '18/04/1976 Port. Santista 0 x 3 Ponte Preta', '18/04/1976 São Paulo 1 x 1 Comercial (RP)', '18/07/1976 América 1 x 1 XV de Piracicaba', '18/07/1976 Botafogo 0 x 0 Guarani', '18/07/1976 Noroeste 2 x 0 Ferroviária', '18/07/1976 Ponte Preta 1 x 0 São Paulo', '18/07/1976 Portuguesa 2 x 1 Corinthians', '18/07/1976 São Bento 0 x 2 Palmeiras', '18/08/1976 América 1 x 1 Ponte Preta', '18/08/1976 Palmeiras 1 x 0 XV de Piracicaba', '19/03/1976 São Paulo 2 x 0 Ponte Preta', '19/06/1976 Botafogo 2 x 2 Ponte Preta', '19/06/1976 São Paulo 4 x 0 Portuguesa', '20/03/1976 Portuguesa 4 x 0 Juventus', '20/03/1976 Santos 0 x 3 Guarani', '20/06/1976 América 0 x 0 Guarani', '20/06/1976 Comercial (RP) 2 x 0 Santos', '20/06/1976 Juventus 0 x 3 Ferroviária', '20/06/1976 Palmeiras 1 x 1 Corinthians', '20/06/1976 Paulista (JUN) 0 x 1 Noroeste', '20/06/1976 São Bento 1 x 1 Port. Santista', '20/06/1976 XV de Piracicaba 1 x 1 Marília', '21/03/1976 Comercial (RP) 2 x 2 América', '21/03/1976 Corinthians 1 x 0 Paulista (JUN)', '21/03/1976 Noroeste 0 x 0 Botafogo', '21/03/1976 Port. Santista 1 x 2 Palmeiras', '21/03/1976 São Bento 2 x 1 Marília', '21/03/1976 XV de Piracicaba 1 x 0 Ferroviária', '21/04/1976 Comercial (RP) 1 x 1 Palmeiras', '21/04/1976 Corinthians 1 x 0 Ponte Preta', '21/04/1976 Ferroviária 5 x 0 Port. Santista', '21/04/1976 Guarani 1 x 1 São Paulo', '21/04/1976 Marília 0 x 1 Portuguesa', '21/04/1976 Santos 2 x 1 Botafogo', '21/04/1976 São Bento 1 x 0 XV de Piracicaba', '21/07/1976 América 1 x 0 Corinthians', '21/07/1976 Guarani 2 x 1 Ferroviária', '21/07/1976 Noroeste 0 x 0 Portuguesa', '21/07/1976 Palmeiras 1 x 0 Ponte Preta', '21/08/1976 São Paulo 5 x 0 Noroeste', '22/02/1976 América 2 x 0', '22/02/1976 Comercial (RP) 1 x 0 São Bento', '22/02/1976 Guarani 2 x 0 Paulista (JUN)', '22/02/1976 Juventus 1 x 0 Botafogo', '22/02/1976 Marília 0 x 4 Corinthians', '22/02/1976 Santos 3 x 0 Port. Santista', '22/02/1976 São Paulo 2 x 0 Noroeste', '22/02/1976 XV de Piracicaba 0 x 1 Ponte Preta', '22/07/1976 São Paulo 5 x 1 São Bento', '22/08/1976 Botafogo 2 x 0 São Bento', '22/08/1976 Ferroviária 1 x 0 América', '22/08/1976 Guarani 0 x 0 Ponte Preta', '22/08/1976 Palmeiras 2 x 1 Corinthians', '22/08/1976 Portuguesa 1 x 1 XV de Piracicaba', '25/04/1976 Corinthians 3 x 0 Portuguesa', '25/04/1976 Juventus 1 x 1 Santos', '25/04/1976 Marília 0 x 1 Ponte Preta', '25/04/1976 Noroeste 0 x 1 Guarani', '25/04/1976 Paulista (JUN) 0 x 0 Palmeiras', '25/04/1976 Port. Santista 0 x 1 América', '25/04/1976 São Paulo 1 x 0 Ferroviária', '25/04/1976 XV de Piracicaba 0 x 0 Comercial (RP)', '25/07/1976 América 1 x 0 Portuguesa', '25/07/1976 Botafogo 0 x 0 Palmeiras', '25/07/1976 Ferroviária 1 x 3 XV de Piracicaba', '25/07/1976 Ponte Preta 1 x 2 Corinthians', '25/07/1976 São Bento 0 x 0 Noroeste', '25/07/1976 São Paulo 1 x 1 Guarani', '26/06/1976 Corinthians 4 x 0 Port. Santista', '26/06/1976 Guarani 2 x 0 Botafogo', '27/03/1976 Juventus 2 x 1 São Bento', '27/06/1976 Comercial (RP) 0 x 1 Juventus', '27/06/1976 Ferroviária 1 x 0 Portuguesa', '27/06/1976 Noroeste 3 x 1 XV de Piracicaba', '27/06/1976 Palmeiras 1 x 0 Marília', '27/06/1976 Ponte Preta 3 x 0 América', '27/06/1976 São Bento 1 x 0 Paulista (JUN)', '27/06/1976 São Paulo 0 x 0 Santos', '28/02/1976 Botafogo 1 x 1 XV de Piracicaba', '28/02/1976 Corinthians 3 x 0 América', '28/02/1976 Ferroviária 1 x 1 Guarani', '28/02/1976 Noroeste 3 x 3 Marília', '28/02/1976 Paulista (JUN) 0 x 1 Santos', '28/02/1976 Port. Santista 0 x 0 Juventus', '28/02/1976 Portuguesa 1 x 0 Comercial (RP)', '28/02/1976 São Bento 0 x 1 São Paulo', '28/03/1976 América 1 x 4 Palmeiras', '28/03/1976 Botafogo 1 x 2 Portuguesa', '28/03/1976 Corinthians 2 x 0 Comercial (RP)', '28/03/1976 Ferroviária 4 x 1 Marília', '28/03/1976 Guarani 2 x 2 Port. Santista', '28/03/1976 Noroeste 3 x 1 Santos', '28/03/1976 Paulista (JUN) 1 x 3 São Paulo', '28/08/1976 XV de Piracicaba 1 x 0 São Bento', '29/04/1976 Ponte Preta 1 x 0 Comercial (RP)', '29/07/1976 Corinthians 0 x 1 Ferroviária', '29/07/1976 Guarani 0 x 0 América', '29/07/1976 Portuguesa 2 x 0 Botafogo', '29/07/1976 XV de Piracicaba 0 x 0 São Paulo']

In [186]:
df.replace({'América': 'América (SP)',
            'São Bento (SCS)': 'São Bento',
            'Botafogo': 'Botafogo (SP)',
            'XV de Novembro (Piracicaba)': 'XV de Piracicaba',
            'Comercial': 'Comercial (SP)',
            'Comercial (SP)': 'Comercial Paulistano',
            'Comercial (RP)': 'Comercial (SP)',
            'Comerclal': 'Comercial (SP)',
            'Esportiva': 'Esportiva (SP)',
            'Ferroviária': 'Ferroviária (SP)',
            'Juventus': 'Juventus (SP)', 
            'Nacional': 'Nacional (SP)', 
            'Ponte Preta\nJogos-desempate': 'Ponte Preta',
            'Port. Santista': 'Portuguesa Santista',
            'Ypiranga': 'Ypiranga (SP)',
            'Sáo Paulo': 'São Paulo'
             
            }, inplace=True)

df

       Data           Casa  GC  GF                 Fora
0    01/Mar      Palmeiras   3   0  Portuguesa Santista
1    02/Mar  Juventus (SP)   1   1            São Bento
2    02/Mar     Portuguesa   1   0     Ferroviária (SP)
3    02/Mar    Corinthians   1   1     XV de Piracicaba
4    02/Mar         Santos   1   2              Marília
..      ...            ...  ..  ..                  ...
273  10/Aug      Palmeiras   1   2         América (SP)
274  10/Aug         Santos   1   0           Portuguesa
275  10/Aug      São Paulo   2   1          Corinthians
276  14/Aug      São Paulo   1   0           Portuguesa
277  17/Aug     Portuguesa   1   0            São Paulo

[278 rows x 5 columns]

In [192]:
import pandas as pd
month_mapping = {
    'Jan': '01',
    'Feb': '02',
    'Mar': '03',
    'Apr': '04',
    'Mai': '05',
    'Jun': '06',
    'Jul': '07',
    'Aug': '08',
    'Sep': '09',
    'Oct': '10',
    'Nov': '11',
    'Dec': '12',    
}


# mapped_month will be '01' for 'Jan'

import pandas as pd

# Assuming df is your DataFrame with the 'Data' column in datetime64[ns] format
df['Data'] = df['Data'].astype(str)
df['Data'] = df['Data'].str.replace('[', '')
df['Data'] = df['Data'].str.replace(']', '')
df['Data'] = df['Data'].str.replace(' - rematch', '')
df['Data'] = df['Data'].replace(month_mapping, regex=True)
df['Data'] = df['Data'].str.replace('/', '-')  # Remove brackets from the date string
df['Data'] = pd.to_datetime(df['Data'], format='%d-%m')  # Convert to datetime format
df['Data'] = df['Data'].apply(lambda x: x.replace(year=int(year))).dt.strftime('%Y-%m-%d')

# Now df['Data'] should have the correct date with the specified year

In [193]:
df

           Data           Casa  GC  GF                 Fora
0    1975-03-01      Palmeiras   3   0  Portuguesa Santista
1    1975-03-02  Juventus (SP)   1   1            São Bento
2    1975-03-02     Portuguesa   1   0     Ferroviária (SP)
3    1975-03-02    Corinthians   1   1     XV de Piracicaba
4    1975-03-02         Santos   1   2              Marília
..          ...            ...  ..  ..                  ...
273  1975-08-10      Palmeiras   1   2         América (SP)
274  1975-08-10         Santos   1   0           Portuguesa
275  1975-08-10      São Paulo   2   1          Corinthians
276  1975-08-14      São Paulo   1   0           Portuguesa
277  1975-08-17     Portuguesa   1   0            São Paulo

[278 rows x 5 columns]

In [194]:
#Step 8: cleaning data frame
#creates a new column with the for the competition name

#creates new columns with competition name and season
df = df.assign(Comp='Paulista')
df = df.assign(Temp=f'{year}')

#comparing scores to display the results in the second dataframe
df.loc[df['GC'] == df['GF'], 'Res'] = 'E'
df.loc[df['GC'] > df['GF'], 'Res'] = 'VC' 
df.loc[df['GC'] < df['GF'], 'Res'] = 'VV'
# create a new column to store the season information in the second data frame

#organizes de columns of the sacond dataframe
new_order = ['Comp','Temp','Data','Casa','GC', 'GF','Fora','Res']
df= df.reindex(columns=new_order)
df


#drops unvalid data
df.dropna(axis=0, how='all', inplace=True)
#sort values by date
df = df.sort_values(by='Data')

#atributes a pontuation to each game
df['PC'] = df.apply(lambda x: 3 if x['Res'] == 'VC' else
                              1 if x['Res'] == 'E' else 0, axis=1)
df['PF'] = df.apply(lambda x: 3 if x['Res'] == 'VV' else
                              1 if x['Res'] == 'E' else 0, axis=1)

#atributes a number of games for each season
df['J'] = df.groupby('Temp').cumcount() + 1
#corrects any possible issue before saving as new file
df

,Comp,Temp,Data,Casa,GC,GF,Fora,Res,PC,PF,J
0,Paulista,1975,1975-03-01,Palmeiras,3,0,Portuguesa Santista,VC,3,0,1
7,Paulista,1975,1975-03-02,Botafogo (SP),1,1,Ponte Preta,E,1,1,2
6,Paulista,1975,1975-03-02,Guarani,3,0,Saad,VC,3,0,3
5,Paulista,1975,1975-03-02,América (SP),1,0,Comercial (SP),VC,3,0,4
8,Paulista,1975,1975-03-02,São Paulo,4,0,Paulista,VC,3,0,5
...,...,...,...,...,...,...,...,...,...,...,...
274,Paulista,1975,1975-08-10,Santos,1,0,Portuguesa,VC,3,0,274
273,Paulista,1975,1975-08-10,Palmeiras,1,2,América (SP),VV,0,3,275
275,Paulista,1975,1975-08-10,São Paulo,2,1,Corinthians,VC,3,0,276
276,Paulista,1975,1975-08-14,São Paulo,1,0,Portuguesa,VC,3,0,277
277,Paulista,1975,1975-08-17,Portuguesa,1,0,São Paulo,VC,3,0,278

In [195]:
df.to_csv(f'campeonato_paulista_{year}.csv', index=False)

In [196]:
# Merge dataframes and sort by date
df2 = pd.read_csv('campeonato_paulista_55-76.csv')
frames = [df, df2]
df3 = pd.concat(frames)
df3["Data"] = pd.to_datetime(df3["Data"], errors='coerce')  # Convert "Data" to datetime format
df3 = df3.drop_duplicates()
df3 = df3.sort_values(by='Data')
df3.to_csv('campeonato_paulista_55-76.csv', index=False)

In [197]:
df3

,Comp,Temp,Data,Casa,GC,GF,Fora,Res,PC,PF,J
0,Paulista,1955,1955-01-10,Palmeiras,5,3,Jabaquara,VC,3,0,1
4,Paulista,1955,1955-02-10,São Bento,2,2,Guarani,E,1,1,4
1,Paulista,1955,1955-02-10,Ponte Preta,5,2,Taubaté,VC,3,0,3
2,Paulista,1955,1955-02-10,Linense,2,1,Portuguesa,VC,3,0,5
3,Paulista,1955,1955-02-10,Santos,4,1,XV de Jaú,VC,3,0,6
...,...,...,...,...,...,...,...,...,...,...,...
273,Paulista,1975,1975-08-10,Palmeiras,1,2,América (SP),VV,0,3,275
274,Paulista,1975,1975-08-10,Santos,1,0,Portuguesa,VC,3,0,274
275,Paulista,1975,1975-08-10,São Paulo,2,1,Corinthians,VC,3,0,276
276,Paulista,1975,1975-08-14,São Paulo,1,0,Portuguesa,VC,3,0,277
277,Paulista,1975,1975-08-17,Portuguesa,1,0,São Paulo,VC,3,0,278

In [183]:
df = df5

NameError: name 'df5' is not defined